*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.408);
}

#main{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    overflow:hidden;
}

#card{
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 20px 20px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* img tag pe hi se hota hai bass */
    object-fit: cover; 
}

#card p{
    font-size: 20px;
    font-weight: 300;
    color: black;
    margin-top: 10px;
    text-align: center;
}

#card h2{
    font-size: 25px;
    font-weight: 600;
    color: black;
    margin-top: 10px;
}

#card button{
    border-radius: 50px;
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.33);
    margin-top: 10px;
    font-family:'halvetica';
    cursor: pointer;
}

#card button:hover{
    background-color: transparent;
    color: black;
}