*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 80px;
    grid-template-areas: "header header"
                         "aside section"
                         "footer footer";
    grid-gap: 10px;

}

header{
    background-color: crimson;
    grid-area: header;
}

aside{
    background-color: greenyellow;
    grid-area: aside;
}
section{
    background-color: blueviolet;
    grid-area: section;
}
footer{
    background-color: darkorange;
    grid-area: footer;
}