*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-areas: 
        "header header"
        "aside section"
        "figure figure";
    
}

header{
    background-color: crimson;
    grid-area: header;
}

aside{
    background: orange;
    grid-area: aside;
}
section{
    background: rebeccapurple;
    grid-area: section;
}

figure{
    background: green;
    grid-area: figure;
}