*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#box1{
    height: 300px;
    width: 400px;
    background-color:blanchedalmond;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
}

#box2{
    height: 300px;
    width: 400px;
    background-color: aquamarine;
    position: absolute;
    left: 30%;
    top: 50%;
    z-index: 2;
}

#box3{
    height: 300px;
    width: 400px;
    background-color:blue;
}