*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

// Mixin creation way
@mixin flexCenter(){
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    height: 100%;
    width: 100%;
    background-color: #fff;
    @include flexCenter();
    section{
        @include flexCenter();
        height: 500px;
        width: 500px;
        background-color: black;
        h1{
            color: #fff;
            font-size: 80px;
        }
    }
}

