*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 900px;
}

#card{
    height: 300px;
    width: 500px;
    background-image: url(https://images.pexels.com/photos/19397629/pexels-photo-19397629.jpeg);
    background-size: cover;
    transform: rotateY(50deg);
    /* transform: scale(5); */
}

