*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    width: 100%;
    // font-size: 40px;
}
// body{
//     font-size: 100px;
// }

// main{
//     font-size: 100px;
// }
h1{
    font-size: clamp(14px,1vw,18px);
}

// h2{
//     font-size: 1em;
// }


// #red{
//     height: 50vh; /* 300 px*/
//     width: 60vw; /*250 px*/
//     // 100vw => 500px;
//     // 1vw => 5px;
//     // 50vw => 250px
//     background-color: red;
//     font-size: 1rem;
// }